<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.swma.dnbn">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:name=".utils.MyApplication"
            android:icon="@drawable/ic_dnbn"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.activity.LocationActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ChannelActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.GiftIconDetailActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.activity.GiftIconActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".view.activity.BarcodeResultActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".view.activity.BarcodeActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".view.activity.VODWatchActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".view.activity.ShopActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".view.activity.LiveWatchActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing|stateHidden">
        </activity>
        <activity
                android:name=".view.activity.BroadCastActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing|stateHidden">
        </activity>
        <activity
                android:name=".view.activity.SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.activity.MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>

        <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="${kakaoMapKey}"/>
    </application>

</manifest>