<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.swma.dnbn">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_dnbn"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".LocationActivity">
        </activity>
        <activity android:name=".ChannelActivity">
        </activity>
        <activity android:name=".GiftIconDetailActivity">
        </activity>
        <activity android:name=".GiftIconActivity">
        </activity>
        <activity
                android:name=".BarcodeResultActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".BarcodeActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".VODWatchActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ShopActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".LiveWatchActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing|stateHidden">
        </activity>
        <activity
                android:name=".BroadCastActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing|stateHidden">
        </activity>
        <activity
                android:name=".SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>

        <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="@string/kakao_AppKey"/>
    </application>

</manifest>